body {
	font-family: cursive;
	display: grid;
	grid-template-areas: 
	"top"
	"main"
	"foot";
	grid-template-rows: 2fr 4fr 2fr;
}

header {
	grid-area: top;
}

nav {
	display: flex;
	flex-flow: column wrap;
	justify-content: space-evenly;
	margin: 0;
} 

ul {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	text-align: center;
	gap: 1em;
	margin-top: 1.5em;
}

.troca {
	text-transform: uppercase;
	font-size: 1.4em;
	text-decoration: none;
}

main {
	grid-area: main;
	display: flex;
	text-align: center;
}