body {
	font-family: 'Shadows Into Light', cursive;
	display: grid;
	grid-template-areas: 
	"top"
	"main"
	"foot";
	grid-template-rows: 2fr 24fr 2fr;
}

header {
	grid-area: top;
	display: flex;
	text-align: center;
	justify-content: space-evenly;
}

nav {
	width: 30%;
	margin-top: 15px;
}

ul {
	display: flex;
	justify-content: space-around;
}

#troca {
	text-transform: uppercase;
	font-size: 30px;
	text-decoration: underline overline;
	color: black;
	font-weight: bolder;
	margin-top: 15px;
}

main {
	grid-area: main;
	display: flex;
	align-items: center;
	justify-content: center;
}

#cor {
	width: 25%;
	height: 20vh;
	font-size: 1.5em;
	border: solid 5px black;
	border-radius: 15px;
	background: #bcb;
}

footer {
	grid-area: foot;
	text-align: right;
	font-size: 25px;
}

.box {
	display: flex;
	flex-direction: column;
}

#input {
	height: 5vh;
	font-family: monospace;
	font-size: 18px;
	text-align: center;
}